* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 2089.3px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* header */
header {
  width: 100%;
  height: 145px;
  display: flex;
  height: 6.133%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  background-color: #e41c26;
  width: 17%;
  display: flex;
  z-index: 100;
}

.logo svg {
  display: block;
  margin: auto;
  width: 67.85%;
  height: 62.3%;
}

.humburger{
  display: none;
}
.humburger span{
 margin: 6px auto;
}
.humburger span:nth-child(1){
  background-color:#E41C26 ;
  width: 50px;
  height: 6px;
}
.humburger span:nth-child(2){
  background-color:#E41C26 ;
  width: 50px;
  height: 6px;
}
.humburger span:nth-child(3){
  background-color:#E41C26 ;
  width: 50px;
  height: 6px;
}

.nav-con {
  width: 83%;
  display: flex;
  flex-direction: column;
}
/* nav1 that contains phone and email */
.nav-con .nav1 {
  background-color: #111111;
  height: 37.45%;
  display: flex;
  justify-content: space-between;
}
.nav-con .nav1 .con1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-con .nav1 .con1 .phone {
  margin: 0 50px;
}
.nav-con .nav1 .con1 a {
  text-decoration: none;
  color: #ffff;
  transition: 1s ease;
}
.nav-con .nav1 .con1 a:hover {
  color: #e41c26;
}
.nav-con .nav1 .con1 svg {
  margin-right: 10px;
}

/* nav2 that contains socila media */
.nav1 .con2 {
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav1 .con2 a {
  margin: 0 20px;
}
.nav1 .con2 a svg {
  transition: 0.7s ease;
}
.nav1 .con2 a svg path:hover {
  fill: #e41c26;
}

/* nav2 */
.nav-con .nav2 {
  height: 62.55%;
  background-color: #ffff;
}
.home-link{
  position: relative;
}
.home-link::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  left: 0;
  bottom: -5px;
  background-color: #E41C26;
}
.nav-con .nav2 div {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}
.nav-con .nav2 div a:not(div),
.nav-con .nav2 div svg:not(.nav-con .nav2 div :last-child) {
  margin: 0 2.4%;
}
.nav-con .nav2 div :last-child {
  height: 100%;
  width: auto;
}
.nav-con .nav2 div a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: #111111;
  font-size: 1rem;
}

.nav-con .nav2 div a:first-child {
  color: #e41c26;
}
.nav-con .nav2 div svg {
  cursor: pointer;
}
.nav-con .nav2 div .search svg {
  width: 50px;
  transition: 1s ease;
}
.nav-con .nav2 div .search {
  margin-right: 16px;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: .4s ease;
}
.nav-con .nav2 div .search :hover {
  color: #e41c26;
}
.nav-con .nav2 div .search input {
  height: 40%;
  width: 80%;
  display: none;
  transition: 1s ease;
  border-radius: 0;
  outline: none;
  border: none;
  padding: 0 4px;
  border-bottom: #e41c26 solid 2px;
}
.nav-con .nav2 a {
  transition: .5s ease;
}
.nav-con .nav2 a:hover{
color: #E41C26;
}

@media(max-width:839px){
  header{
  background-color: #E41C26;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  height: 90px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content:space-between;
  padding-left: 10px;
  }
  header .logo{
    width: 40%;
  }
  .logo svg {
  display: block;
  margin: auto;
  width: unset;
  height: unset;
}

.humburger{
  background-color:#ffffff;
  width: 150px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* nav 1 */
.nav-con .nav1 {
  display: none;
}
/* end nav 1 */

/* nav2 */
.nav-con .nav2 {
  background-color: #E41C26;
  height: auto;
  display: none;
}

/* end nav2 */
}
/* end media query */

/* end header */

/* main */
main {
  transition: .4s ease;
  background-image: url("/img/Rectangle\ 9.jpg");
  height: 833px;
  position: relative;
}

main div {
  position: absolute;
  top: 15%;
  left: 17%;
}

main div h1 {
  color: #ffff;
  display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

main div h1:first-child {
  font-size: 25px;
  animation-delay: 1s;
}
main div h1:first-child::first-letter {
  text-transform: capitalize;
}
main div h1:nth-child(2) {
  font-size: 99px;
  text-transform: capitalize;
  animation-delay: 2s;
}
main div h1:nth-child(3) {
  font-size: 40px;
  text-transform: capitalize;
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
main div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color:#E41C26;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

main div h1:nth-child(1) span {
    animation-delay: 0.5s;
}

main div h1:nth-child(2) span {
    animation-delay: 1.5s;
}

main div h1:nth-child(3) span {
    animation-delay: 2.5s;
}

main div button {
  font-size: 20px;
  margin: 46px 0;
  padding: 1.1rem 2rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffff;
  border: 1px solid #ffff;
  cursor: pointer;
  position: relative;
  transition: 1s ease;
}
main div button::after {
  content: "";
  background-color: #e41c26;
  display: block;
  width: 4px;
  height: 54px;
  position: absolute;
  left: -9px;
  top: 14px;
}
main div button::before {
  content: "";
  background-color: #e41c26;
  display: block;
  width: 54px;
  height: 4px;
  position: absolute;
  left: -9px;
  bottom: -11px;
}
main div button:hover {
  background-color: #e41c26;
  letter-spacing: 0.6px;
}
main div span:nth-child(5) {
    width: 194px;
    height: 10px;
    position: absolute;
    top: -55px;
    left: -35px;
    background-color: #e41c26;
    display: block;
}

main div span:nth-child(6) {
    width: 10px;
    height: 45px;
    position: absolute;
    top: -55px;
    left: 149px;
    background-color: #e41c26;
    display: block;
}
main div span:nth-child(7) {
    width: 194px;
    height: 10px;
    position: absolute;
    bottom: -53px;
    left: -35px;
    background-color: #e41c26;
    display: block;
}
main div span:nth-child(8){
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: -52px;
    left: 149px;
    background-color: #e41c26;
    display: block;
}
main div span:nth-child(9) {
    width: 10px;
    height: 450px;
    position: absolute;
    top: -55px;
    left: -42px;
    background-color: #e41c26;
    display: block;
}

@media (max-width:542px) {
main div span:nth-child(9){
   position: absolute;
    top: -55px;
    left: -40px;
    background-color: #e41c26;
    display: block;
    width: 10px;
    height: 562px;
    position: absolute;
    top: -55px;
    left: -42px;
    background-color: #e41c26;
    display: block;
}
}
/* end main */



/* start con-under-img */
.con-under-img{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6rem;
}
.con-under-img div{
    width: calc(100%/3);
    align-items: center;
    text-align: center;
    background-color: rgb(131, 190, 190);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    max-height: 24rem ;
    position: relative;
    overflow: hidden;
}
.con-under-img div h1{
    margin: 1.2rem 0;
}
.con-under-img div p{
    width: 100%;
    padding: 20px;
}

.con-under-img div:nth-child(2) svg:last-child {
    opacity: 20%;
}
.con-under-img div svg:last-child{
position: absolute;
right: 0;
bottom: -8px;
width: 200PX;
height: 200PX;
}
.con-under-img div:first-child{
    background-color: #222222;
    color: #ffff;
}
.con-under-img div:nth-child(2){
    background-color: #EEEEEE;
}
.con-under-img div:nth-child(2) h1{
    color: #e41c26;
}
.con-under-img div:last-child {
    background-color: #E41C26;
    color: #ffff;
}

@media(max-width:839px) {
  
  .con-under-img div p{
    display: none;
  }
  .con-under-img div h1{
    margin: 1.2rem 10px;
    font-size: 1.3rem;
}
.con-under-img div:nth-child(2) svg:last-child {
    opacity: 20%;
    width: 100%;
}
.con-under-img div svg:last-child{
position: absolute;
right: 0;
bottom: -30px;
width: 100%;
height: 200PX;
}
}
/* end con-under-img */

/* start about us  */
#about-us{
  display: flex;
  width: 80%;
  margin: 0 auto;
  transition: .4s ease;
}
#about-us .first-con-about{
  width: 50%;
}
#about-us h5{
  color: #5E5E5E;
  font-size: 22px;
  text-transform: capitalize;
}
#about-us h1{
  font-size: 60px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 1rem;
}
#about-us h1::after{
  content: "";
  display: block;
  background-color: #E41C26;
  width: 190px;
  height: 4px;
  position: absolute;
  bottom: 3px;
}
#about-us p{
  font-size: 22px;
  margin:0 0 5rem 0;
}
#about-us .first-con-about div{
  display: flex;
}
#about-us .first-con-about div svg{
  margin-right: 2.5rem;
}
#about-us .first-con-about div div h5{
  color: #111111;
  text-transform: capitalize;
  font-weight: bold;
}
#about-us .first-con-about div div p{
  color: #5E5E5E;
  font-size: 19px;
}
#about-us .first-con-about div div{
  display: flex;
  flex-direction: column;
}
#about-us .second-con{
  position: relative;
  max-width: 1000px;
  margin-bottom: -5px;
  
}
#about-us .second-con img{
  height: 100%;
}

#about-us .second-con :first-child{
  width: 100%;
}

.about-us .backGrounf-img{
  position: absolute;
  
  width: 160%;
  bottom: 16%;
  z-index: -1;
  left:-100px;
  overflow: visible;
}


@media(max-width:1132px){
  #about-us .second-con img{
  display: none;
}

#about-us .first-con-about{
  width: 100%;
}
}
/* end about us  */











/* keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}
